@import "tailwindcss";

/* Apply the font globally */
body {
  font-family: var(--font-poppins), sans-serif;
}

@theme {
  --color-green: #7fad39;
}

html {
  scroll-behavior: smooth;
}


#banner_section>div {

  &:nth-child(1) {
    background-image: url('/banner/bg_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom
  }

  &:nth-child(2) {
    background-image: url('/banner/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
  }

}

@layer components {
  .avater {
    @apply size-9 text-xl rounded-full flex justify-center items-center uppercase text-white cursor-pointer hover:ring-2 duration-200 ring-gray-300
  }

  .btn {
    @apply text-sm font-normal text-gray-600 outline-none rounded-sm ps-5 ring-1 ring-gray-200 w-full h-14
  }

  .input {
    @apply text-sm font-normal text-gray-600 outline-none rounded-sm px-4 md:px-5 ring-1 ring-gray-200 w-full md:h-14 h-12 placeholder:text-xs md:placeholder:text-sm
  }

  .userDetailsBtn {
    @apply cursor-pointer flex justify-start items-center rounded-sm py-2 gap-2 px-5 w-full text-gray-500 font-light disabled:text-gray-400 not-disabled:hover:bg-green not-disabled:hover:text-white disabled:cursor-not-allowed
  }

  .mediaQuary {
    @apply container lg:px-20 mx-auto px-5 md:px-20 2xl:px-52
  }
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}