@import "tailwindcss";

/* Apply the font globally */
body {
  font-family: var(--font-poppins), sans-serif;
}

@theme {
  --color-green: #7fad39;
}

html {
  scroll-behavior: smooth;
}


#banner_section>div {

  &:nth-child(1) {
    background-image: url('/banner/bg_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom
  }

  &:nth-child(2) {
    background-image: url('/banner/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
  }

}

.notify-show {
  animation: notifyshow 0.2s ease-in-out forwards;
}

@keyframes notifyshow {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-timer {
  animation: animateTimer 5s linear forwards;
  width: 100%;
}

@keyframes animateTimer {
  100% {
    width: 0%;
  }
}

/* .notify-hide {
  animation: notifyHide 0.2s ease-in-out forwards;
} */

/* @keyframes notifyHide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
} */


/* .notify-show {
  opacity: 1;
  transform: translateX(-100px);
  transition: all 0.3s ease;
} */

/* .notify-hide {
  opacity: 1;
  transform: translateX(100%);
  transition: all 0.3s ease;
} */